html {
  background-color: #B2BEBF
}

h1 {
  font-family: "copperplate papyrus";
  font-size: 24px;
  font-weight: bold;
  color: #BD2A2E;
  text-align: start;
}

p {
  color: #3B3936;
  font-family: "Courier New";
  font-size: 50%;
  font-family: "Times";
  font-weight: normal;
  width: 75%;
  height: 75%;
}


ul {
  font-size: 50%;
  font-family: "Courier New";
  font-weight: bold;
  text-align: center;
  color: #889C9B;
  background-color: #BD2A2E;
  border: 2px solid #3B3936;
}

link {
  color: #486966;
  font-size: 18px;
  font-family: "Monaco";
  font-weight: bold;
  border: 2px solid #486966;
}
