html {
  background-color: #B2BEBF
}

h1 {
  font-family: "Fantasy";
  font-size: 38px;
  font-weight: bold;
  color: #BD2A2E;
  text-align: start;
}

p {
  color: #3B3936;
  font-family: "Courier New";
  font-size: 16px;
  font-weight: normal;
  width: 75%;
  height: 75%;
  background-color: #889C9B;
}


ul {
  with: 100px;
  font-size: 50%;
  font-family: "Courier New";
  font-weight: bold;
  text-align: center;
  color: #889C9B;
  background-color: #BD2A2E;
  border: 2px solid #3B3936;
}

a {
  color: #486966;
  font-size: 18px;
  font-family: "Helvetica";
  font-weight: bold;
  border: 2px solid #486966;
}
