/*MY SITE'S DESGIN*/

html {
  background-color: #99E2B4;
  font-size: 24px;
  display: flex;
  font-family: "Lucida-Console"
}

body {
  background-color: #78C6A3;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

/*nav list*/
nav {
  font-size: 36px;
  float: left;
  width: 18%;
  border-top-left-radius: inherit;
}

ul {
  padding: 5px;
  font-size: .75em;
  text-align: right;
  list-style: none;
}

li {
  padding: 5px;
}

.current {
  background-color: #56AB91;
  border-radius: 10px;
}

.navlink {
  color: #40916C;
  text-decoration: none;
  font-variant: all-small-caps;
}

/*nav done*/

h1 {
  margin: 0;
  text-align: center;
  color: #1B4332;
  font-family: "Lucia Handwriting"
  font-variant: small-caps;
}

h3 {
  font-weight: bold;
  font-family: "Lucia Handwriting";
  font-variant: small-caps;
  color: #2D6A4F;
}

p {
  width: 65%;
  float: right;
  margin: 10px;
  font-family: "Courier New";
  font-weight: light;
  color: #1B4332;
}

/* Show Stuff */
.catalog {
  /*height: 535px;*/
  overflow: auto;
  display: block;
}

.newshow{
  display: block;
  overflow: auto;
  margin-left: 50px;

}

.showpic {
  border-radius: 25px;
  display: block;
  float: left;
  height: 360px;
  margin-right: 10px;
}

.pic-text {
  font-size: 1em;
}

.stream {
  height: 75px;
  margin: 3px;
  display: inline;
  float: center;
}

.rating {
  font-family: 'Brush Script MT', cursive;
  font: bold;
  color: #2D6A4F;
}
